@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);
<<<<<<< HEAD

    background: var(--bg-color);
    color: var(--primary-color); 

    min-height: 100vh;
}
.content-page{
    display: flex;
}
.page-wrapper{
=======
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
>>>>>>> 09b019a (Add tests ESlint)
    flex-grow: 1;
    padding: 20px;
}
