.Button {
<<<<<<< HEAD
cursor: pointer;
color: var(--primary-color);
}
=======
    cursor: pointer;
    color: var(--primary-color);
}

>>>>>>> 09b019a (Add tests ESlint)
.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 09b019a (Add tests ESlint)
