.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    margin-right: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
