<<<<<<< HEAD
.AppLink { 
    color: var(--primary-color);
}
.primary{
    color: var(--primary-color);
}
.secondary{
    color: var(--inverted-primary-color);
}
=======
.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
>>>>>>> 09b019a (Add tests ESlint)
